@using Castle.Core.Internal
@model Issue
@{
    ViewData["Title"] = "Contract Preview";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">
        Contract Preview
        <br />
        <small>Read the details and leave a bid</small>
    </h1>
    <br />
    <br />
    <!-- Project One -->
    <div class="row">
        <div class="col-md-12">
            <div>
                @if (Model != null)
                {
                    <h2>@Model.Title</h2>
                    <h5>Description</h5>
                    <div class="pre-scrollable">
                        <p>@Model.Description</p>
                    </div>
                    <div>
                        <h5>Issuer</h5>
                        <p>@Model.Issuer.FirstName @Model.Issuer.LastName</p>
                    </div>
                    <form asp-controller="Job" asp-action="OnPostLeaveABid" asp-route-id="@Model.Id" method="post">
                        <label>How Much?</label>
                        <input name="bid" type="number" min="100" max="10000" required="required" />
                        <br />
                        <button class="btn-success m-1">Leave a bid!</button>
                    </form>
                }
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->